.header-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  padding-left: 60px;
}

.header-content {
  background-color: $bg-title-end;
  padding: 10px;
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;

  .imgContainer {
    display: inline-block;
    height: 100%;
    width: 100%;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}