@mixin menu-transform {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.navigation {
  z-index: 10;
  position: fixed;
  top: 0;
  left: -240px;
  height: 100vh;
  width: 300px;
  background-color: $bg-black;

  box-shadow: 15px 60px 30px -1px rgba(0,0,0,0.30);

  &.home {
    box-shadow: 15px 0px 30px -1px rgba(0,0,0,0.30);
  }

  transition: left $trans;

  &.open {
    left: 0;

    transition: left $trans;
  }
  
  #menu-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    
    span {
      display: block;
      position: absolute;
      height: 5px;
      width: 60%;
      background: #fff;
      border-radius: 2px;
      opacity: 1;
      left: 20%;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      
      &:nth-child(1) {
        top: 0;
        @include menu-transform;
      }
      
      &:nth-child(2) {
        top: 10px;
        @include menu-transform;
      }
      
      &:nth-child(3) {
        top: 20px;
        @include menu-transform;
      }
    }
    
    &.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 3%;
      left: 28%;
    }
    
    &.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    &.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 45%;
      left: 28%;
    }
  }

  .items {
    width: 100%;
    margin-top: 20%;

    .item {
      position: relative;
      
      a {
        text-decoration: none;
        color: #fff;
        
        &:hover {
          cursor: pointer;
  
          color: $bg-title-end;
        }
      }
    }
    
    &.bottom {
      position: absolute;
      bottom: 20px;
    }
    
    a {

      &:hover {
        .itemTitle {
          color: $bg-title-end;
        }
        
        .imgContainer#smallLogo, {
          background-image: url('../myImages/small-logo-red.png');
        }
      }

      .itemTitle {
        position: relative;
        bottom: -15px;
        font-weight: 600;
        padding-left: 20px;
        
        &.red {
          color: $bg-title-end;
        }
        
      }
      
      .itemTitle, 
      .imgContainer {
        display: inline-block;
      }
      
      .imgContainer {
        position: absolute;
        top: 25px;
        right: 15px;
        
        height: 30px;
        width: 30px;
      
        text-align: center;
        
        &#smallLogo {
          background-image: url('../myImages/small-logo-white.png');
          background-size: contain;

          &.red {
            background-image: url('../myImages/small-logo-red.png');
          }
        }
        
        &.red,
        &:hover {
          color: $bg-title-end;
        }
        
        i {
          font-size: 30px;
        }
      }
    }
  }
}

.bug-reporter {
  z-index: 20;
  position: fixed;
  bottom: 100px;
  left: 100px;
  
  @media all and (max-width: 850px) {
    width: 70%;
    height: 55%;
  }
  @media all and (min-width: 850px) and (max-width: 1100px) {
    width: 65%;
    height: 50%;
  }
  @media all and (min-width: 1100px) and (max-width: 1300px) {
    width: 60%;
    height: 50%;
  }
  @media all and (min-width: 1300px) {
    width: 50%;
    height: 50%;
  }

  border-radius: 15px;
  background-color: #e8eaed;
  opacity: 0;

  box-shadow: 0px 7px 14px 7px rgba(0, 0, 0, 0.2);

  transform: rotate(90deg);
  transform-origin: -100px bottom;

  transition: transform 0.5s ease-in-out, opacity 0.35s linear 0.15s, left $trans;

  &.nav-open {
    left: 340px;
  }

  &.show {
    transform: rotate(0);
    opacity: 1;

    transition: transform 0.5s ease-in-out, opacity 0.35s linear 0.15s, left $trans;
  }

  .bugform {
    padding-top: 5%;
  }

  p {
    margin-left: 7.5%;
  }

  h1 {
    margin: 5% 0 0 7.5%;
    font-weight: 400;
  }

  h1 > span {
    font-weight: 600;
    font-style: italic;
  }
}