.services {
  position: relative;
  background-color: $bg-black;
  padding: $section-padding;

  div {
    display: inline-block;
    height: 100%;
    width: 33%;
  }

  .serviceList {
    padding-top: 15px;
    color: #fff;
    opacity: 0.7;

  }

  .price {
    vertical-align: top;
    text-align: center;
    
    p {
      span { 
        font-size: 1.5em;
      }
  
      &.period {
        font-weight: 500;
      }
      & span.value {
        font-weight: 400;
        font-size: 3em;
      }
    }
  }
}