.skills {
  padding: $section-padding;

  h2 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.5em;
  }

  p {
    font-size: 0.95em;
    line-height: 1.5em;    
    padding-top: 15px;
    color: $txt-grey;
  }

  .skillList {

    position: relative;
    padding: 5%;
    
    .owl-carousel,
    .owlBtn {
      display: inline-block;
    }
    
    .owlBtn {
      cursor: pointer;
      position: absolute;
      width: 5%;
      background-color: $bg-btn;
      
      i {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: #fff;
        font-weight: 600;
        font-size: 40px;
      }
      
      &:hover {
        background-color: $bg-btn-hover;
      }
      
      &.prev {
        left: 0;
      }
      &.next {
        right: 0;
      }
    }
  }
  .skill {
    width: 100%;
    text-align: center;
    padding: 10px;
    display: inline-block;
    background-color: $bg-offwhite;

    .imgContainer {

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    p {
      color: #000;
      font-weight: 600;
      padding: 0;
    }

    &:hover {
      cursor: pointer;
      background-color: $bg-hover;
    }
  }

}
