.title {
  background: $bg-title-end;
  padding: 100px;
  padding-left: 100px;
  color: #fff;
  
  @media all and (max-width: $screen-md-end) {
    text-align: center;
    width: 100%;
    display: block;
    min-height: 100vh;
    
    position: static;

    .brandLogo img {
      right: 0;
    }
  }
  
  @media all and (min-width: $screen-lg) {
    text-align: right;
    width: 50%;
    display: inline-block;
    min-height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    .brandLogo img {
      right: -35px;
    }
  }

  .brandLogo {

    img {
      transform: scale(0.75);

      position: relative;
      top: -50px;
    }
  }

  .titleText {
    margin-top: 100px;
  }
  
  p {
    font-size: 0.9em;
    font-weight: 500;
    line-height: 2em;
  }
  
  h1 {
    font-size: 2.4em;
    font-weight: 400;
  }
  
  .socialItems {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 100px;
  }

  .socialIcon {
    display: inline-block;
    margin-left: 24px; 
  }

  .white {
    font-size: 24px;
    color: #fff;
    transition: 0.1s linear;
  }
  .white:hover {
    transition: 0.1s linear;
    color: $social-hover;
    cursor: pointer;
  }
}