.title {
  background: $bg-title-end;
  padding: 100px;
  padding-left: 100px;
  color: #fff;
  
  @media all and (max-width: $screen-md-end) {
    text-align: center;
    width: 100%;
    display: block;
    min-height: 100vh;
    padding-left: 160px;
    
    position: static;

    .brandLogo img {
      right: 0;
    }
  }
  
  @media all and (min-width: $screen-lg) {
    text-align: right;
    width: 50%;
    display: inline-block;
    min-height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    .brandLogo img {
      right: -35px;
    }
  }

  .titleText {
    padding-top: 5px;
  }

  .brandLogo {
    position: relative;
    top: -20px;
    object-fit: contain;
    overflow: hidden;
    padding-bottom: 15px;

    #adminForm {
      margin-top: 15px;
      position: relative;
      left: 100%;
      opacity: 0;
      background-color: #e8eaed;
      border-radius: 10px;
      box-shadow: 6px 7px 10px 6px rgba(0, 0, 0, 0.2);
      
      @media all and (max-width: 850px) {
        width: 97%;
      }
      @media all and (min-width: 850px) and (max-width: 1100px) {
        width: 90%;
      }
      @media all and (min-width: 1100px) and (max-width: 1300px) {
        width: 90%;
      }
      @media all and (min-width: 1300px) {
        width: 90%;
      }
      
      transition: left $trans, opacity $trans;

      &.show {
        left: 2%;
        opacity: 1;
      }

      .loginInputs {
        text-align: left;
        padding: 10px;
        vertical-align: center;
      }
      
      input {
        margin: 2%;
        border-radius: 5px;
        width: 30%;
        padding: 10px;
      }
      
      .clicky {
        left: 5px;
        top: 10px;
        display: inline-block;
      }

      #closeLogin {
        float: right;
        color: $bg-btn;
        font-size: 30px;

        &:hover {
          color: $bg-btn-shadow;
        }
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  p {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 2em;
  }
  
  h1 {
    font-size: 2.5em;
    font-weight: 400;
  }
  
  .socialItems {
    margin: 100px;

    @media all and (min-width: $screen-lg) {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .socialIcon {
    display: inline-block;
    margin-left: 24px; 
  }

  .white {
    font-size: 24px;
    color: #fff;
    transition: 0.1s linear;
  }
  .white:hover {
    transition: 0.1s linear;
    color: $social-hover;
    cursor: pointer;
  }
}