mixin projectTableLarge(edit)
  div.tableContainer

mixin bugTableLarge(edit)
  div.tableContainer

mixin messageTableLarge(edit)
  div.tableContainer

mixin subscriberTableLarge(edit)
  div.tableContainer