mixin projectForm(edit)
  div.itemFormContainer
    div(class=`itemForm ${edit ? 'editMode' : 'viewMode'}`)

mixin bugForm(edit)
  div.itemFormContainer
    div(class=`itemForm ${edit ? 'editMode' : 'viewMode'}`)

mixin messageForm(edit)
  div.itemFormContainer
    div(class=`itemForm ${edit ? 'editMode' : 'viewMode'}`)

mixin subscriberForm(edit)
  div.itemFormContainer
    div(class=`itemForm ${edit ? 'editMode' : 'viewMode'}`)

