section.navigation#navigation
  // Hamburger menu - hidden on widescreen
  div(id="menu-icon")
    span
    span
    span
  div.items
    div#home.item
      h3.itemTitle Project MaM
      div.imgContainer
        img(src="myImages/small-logo-white.png")