include ./_mixins

section#skills.skills
  h2=data.skills.sectionHeaderText
  p=data.skills.mainText[0]
  p=data.skills.mainText[1]
  div.skillList
    div.owlBtn.prev
      i.ion-ios-arrow-back
    div#owl-skill.owl-carousel
      for sk in data.skills.skillList
        +skill(sk)
    div.owlBtn.next
      i.ion-ios-arrow-forward