include ./_mixins

section#title.title
  div.brandLogo
    img(src=data.header.image)
  div.titleText
    h1= data.header.title
    p= data.header.text
  div.socialItems
    for sI in data.header.socialItems
      +socialItem(sI)