include ./_mixins

section#title.title
  div.brandLogo
    img(src=data.header.image)
    div#adminForm
      form(class="form-group" action="/login" id="adminLogin" method="post" enctype="application/x-www-form-urlencoded")
        input(id="login-source" type="text" value="home" name="source" hidden)
        div.loginInputs
          input(id="login-id" class="entry" type="text" placeholder="ID" name="name" required)
          input(id="login-password" class="entry" type="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="At least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="password" required)
          div.clicky
            button(type="submit" class="btn") Login
          div#closeLogin
            i.ion-md-close-circle

  div.titleText
    h1= data.header.title
    p= data.header.text
  div.socialItems
    for sI in data.header.socialItems
      +socialItem(sI)