// Header
div(class="header")
  // Navigation
  nav(id="navigation" class="navigation")
    
    // Logo
    div(class="brand-logo")
      a(href="/")
        img(src="/my-projects/minifolio-clone/images/logo.png")

    // Hamburger menu - hidden on widescreen
    div(class="menu")
      div(id="menu-icon")
        span
        span
        span
    
    // Links - alternate styling for different screen sizes
    div(class="links" id="links")
      ul
        a(id="goto-about" href="about")
          li About Me
        a(id="goto-contact" href="contact")
          li Contact
        a(id="goto-projectmam" href="https://www.projectmam.com/")
          li ProjectMaM