head
  title= title
    
  // My CSS
  link(href="/my-projects/minifolio-clone/css/application.css" rel="stylesheet" type="text/css")
  
  // Animate.css
  link(href="/my-projects/minifolio-clone/css/vendor/animate.css" rel="stylesheet" type="text/css")