section(class="hireme")
  div(class="text-content")
    h4 Need something specific?
    p We are currently crafting new products but would love to hear from you.
    a(class="btn" href="/contact") Hire Me