// third party libs
script(src="/my-projects/minifolio-clone/js/vendor/jquery-v1.12.5.js")
script(src="/my-projects/minifolio-clone/js/vendor/jquery.fancybox-v2.1.4.js")
script(src="/my-projects/minifolio-clone/js/vendor/noframework.waypoints.js")

// My JS
script(src="/my-projects/minifolio-clone/js/main.js")