/* Colors */
$bg-title-start: rgba(177,75,201,0.95);
$bg-title-end: #D32F2F;

$bg-black: #1d2328;
$bg-offwhite: #f5f5f5;
$bg-hover: #eaeaea;

$bg-btn: #9E9E9E;
$bg-btn-hover: #757575;

$bg-pricing: #121619;

$txt-grey: #666666;

$social-hover: #30205e;

$bg-submit-success: #8EF6BB;
$text-submit-success: #0A321C;

$bg-submit-error: #F68E8E;
$text-submit-error: #320A0A;

$bg-submit-warning: #F6E38E;
$text-submit-warning: #322C0A;

/* screensizes */
$screen-lg: 1025px;
$screen-md-end: 1024px;
$screen-md-start: 768px;
$screen-sm: 767px;


/* ionicons */
$ionicons-font-path: "../fonts/ionicons"; // alter default font location

/* Fonts - Typography */

$main-font-family: "Raleway", sans-serif;


/* Other items */
$section-padding: 10% 7.5%;
$entry-padding: 0.5em 1.15em;
$entry-padding-lrg: 1em;