doctype html
html
  head
    include includes/head.pug
    //- this file is added to allow easier routing back to projectmam
    //- from within project
    include ../../projectcss.pug

  body
    //- this file is added to allow easier routing back to projectmam
    //- from within project
    include ../../overlay.pug
    include includes/header.pug
    
    block banner
    
    block content

    include includes/footer.pug

    include includes/js.pug