doctype html
html
  head
    include includes/head.pug

  body
    include includes/header.pug
    
    block banner
    
    block content

    include includes/footer.pug

    include includes/js.pug