extends layout.pug

include includes/_mixins.pug

block content
  include includes/header.pug

  div.nav-slide
    div.sub-content
      +subpageHeader()

    div#adminForm
      form(class="form-group" action="/login" id="adminLogin" method="post" enctype="application/x-www-form-urlencoded")
        input(id="login-source" type="text" value="home" name="source" hidden)
        div.loginInputs
          input(id="login-id" class="entry" type="text" placeholder="ID" name="name" required)
          input(id="login-password" class="entry" type="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="At least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="password" required)
          div.clicky
            button(type="submit" class="btn") Login