extends layout.pug

block content
  include includes/title.pug

  div#rightSide.rightSide
    div#content.content
      include includes/gallery.pug
      
      include includes/subscribe.pug

      include includes/skills.pug

      include includes/blog.pug

      include includes/contact.pug

      include includes/footer.pug

  include includes/gallerySlides.pug