extends layout.pug

include includes/_mixins.pug
include includes/_itemControlBar.pug
include includes/_itemForms.pug

block content
  include includes/header.pug

  div.nav-slide
    div.sub-content
      +subpageHeader()
    if error
      div.sub-content-error
        p= errMessage
    else 
      div.sub-content-lower
        +itemControlBar(edit, 'Message', message._id)
        +messageForm(edit)

      
block js
  include includes/adminjs.pug