section.projectOverlay.slide
  div.linkContainer
    div#home-nav.item
      a(href="/")
        h3(class=`itemTitle` ) Project MaM
        div(id="smallLogo" class=`imgContainer`)
    div#projects-nav.item
      a(href="/projects")
        h3(class=`itemTitle`) Projects
        div(class=`imgContainer`)
          i.ion-ios-folder
    div#blogs-nav.item
      a(href="/blog")
        h3(class=`itemTitle`) Blog
        div(class=`imgContainer`)
          i.ion-ios-paper
    div#contact-nav.item
      a(href="/#contact-name" class=``)
        h3.itemTitle Contact
        div.imgContainer
          i.ion-ios-megaphone
    div#bug-report.item
      a(href="#")
        h3.itemTitle Report Bug
        div.imgContainer
          i.ion-ios-bug

