section.projectOverlay.slide
  div.linkContainer
    div#home-nav.item
      a(href="/")
        h3(class=`itemTitle` ) Project MaM
        div(id="smallLogo" class=`imgContainer`)
    div#projects-nav.item
      a(href="/projects")
        h3(class=`itemTitle`) Projects
        div(class=`imgContainer`)
          i.ion-ios-folder
    div#blogs-nav.item
      a(href="/blog")
        h3(class=`itemTitle`) Blog
        div(class=`imgContainer`)
          i.ion-ios-paper
    div#contact-nav.item
      a(href="/#contact-name" class=``)
        h3.itemTitle Contact
        div.imgContainer
          i.ion-ios-megaphone 
    div#bug-report.item
      a(href="#")
        h3.itemTitle Report Bug
        div.imgContainer
          i.ion-ios-bug

div.ov-bugReporterContainer
  div.ov-bugReporterRelative
    div.ov-bugReporter#bug-report
      h1 Call the #[span Exterminator!]
      div#closeBugReporter.closeButton
        i.ion-md-close-circle
      p Please let me know if you experience any issues with my site 
      div.ov-bugform.ov-contact
        form(class="ov-form-group" action="" id="bugReporter")
          div.ov-mainInputs
            input(id="ov-bug-name" class="ov-bug-entry" type="text" placeholder="Name" name="name" required)
            input(id="ov-bug-email" class="ov-bug-entry" type="email" placeholder="Email" name="email" required)
            textarea(id="ov-bug-message" class="ov-bug-entry" type="text" placeholder="Bug description" name="message" rows="4" maxlength="600" required)
          div.bug-clicky
            button(type="submit" class="ov-bug-btn") Send
            div#ov-bugToast.ov-toast
      


