head
  title Ranger Clone - Home

  // google fonts
  link(href="https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Montserrat:400,700" rel="stylesheet" type="text/css")
  // Favicon
  link(rel="shortcut icon" href="images/favicon.png" type="image/png")
  // icomoon
  link(href="/my-projects/ranger-clone/css/icomoon.css" rel="stylesheet" type="text/css")
  // My CSS
  link(href="/my-projects/ranger-clone/css/application.css" rel="stylesheet" type="text/css")