// Navigation
div#navigation.navigation
  div.container
    // Logo
    div.brand-container
      div.brand 
        | Ranger
        span .

      // Hamburger menu - hidden on widescreen
      div.menu
        div#menu-icon
          span
          span
          span

    // Links
    div.linksContainer.hidden
      div#links.nav-links
        ul
          li#nav-home.active
            a(href="#home") Home
          li#nav-services
            a(href="#services") Services
          li#nav-screenshots
            a(href="#screenshots") Screenshots
          li#nav-tour
            a(href="#tour") Tour
          li#nav-features
            a(href="#features") Features
          li#nav-testimonial
            a(href="#testimonial") Testimonial
          li#nav-pricing
            a(href="#pricing") Pricing