/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
  ===========================================================
  Clear Fix
  ===========================================================
*/

.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  clear: both;
  *zoom: 1;
}

/*
  ===========================================
  Color Scheme
  ===========================================
*/

.color-scheme {
  color: #D32F2F; /* Dark primary colour */
  color: #FFCDD2; /* Light Primary Color */
  color: #e57373; /* Primary Background Color */
  color: #FFFFFF; /* Text / Icons */
  color: #9E9E9E; /* Accent Color */
  color: #212121; /* Primary Text */
  color: #757575; /* Secondary Text */
  color: #EFEFEF; /* Divider Color */
}


/*
  ============================================
  Typography
  ============================================
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
}

.bar-vert-align {
  line-height: 10vh;
  vertical-align: middle;
}

.header-container {
  height: 10vh;
  padding: 0 10%;
  width: 80%;
}
.segment-header {
  display: inline-block;
  height: 10vh;
  padding: 0 10%;
  width: 80%;
  border-bottom: 1vh solid #EFEFEF;
  font-size: 20px;
}
.segment-header-alt {
  display: inline-block;
  height: 10vh;
  padding: 0 10%;
  width: 80%;
  border-bottom: 1vh solid #e57373;
  color: #e57373;
  font-size: 20px;
}

.placeholder {
  color: #212121;
  font-size: 40px;
  line-height: 60vh;
  font-style: italic;
}
.footer-bar a {
  font-size: 10px;
}

/*
  ============================================
  General Elements
  ============================================
*/
body {
  box-sizing: border-box;
}

.perm-bar {
  position: fixed;
  height: 10vh;
  width: 100%;
}

.main-content {
  position: fixed;
  top: 20vh;
  height: 75vh;
  overflow-y: scroll;
  width: 100%;
}

/*
  ============================================
  Header
  ============================================
*/

/* 
  #################
  Title 
  #################
*/
.title-bar {
  background-color: #e57373;
  top: 0px;
}
.title-bar h1 {
  font-size: 26px;
  color: #FFFFFF;
}

/* 
  #################
  Navigation 
  #################
*/
.navigation-bar {
  top: 10vh;
  background-color: #FFEBEE;
  color: #212121;
  text-align: center;
}
nav,
.nav-list {
  height: 10vh;
}
.nav-item {
  box-sizing: border-box;
  height: 10vh;
  display: inline-block;
  padding-left: 7.5%;
  padding-right: 7.5%;
  border: 1vh solid #FFEBEE;
  cursor: pointer;
}
.nav-list .active {
  background-color: #ffb7c1;
  color: #414141;
}  
.nav-list .nav-item:hover {
  background-color: #d698a1;
}
.nav-item a {
  color: #757575;
  text-decoration: none;
  line-height: 8vh;
}

/*
  ============================================
  Homepage Main Content
  ============================================
*/

.main-segment {
  height: 75vh;
  background-color: #FFFFFF;
}
.main-segment:nth-child(odd) {
  background-color: #e57373;
}

.content-container {
  width: 80%;
  margin: 3vh 10%;
  height: 60vh;
}

.sub-container {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  width: 44%;
  border-radius: 2%;
  background-color: #fff;
  /* prevents text baseline shifting div */
  vertical-align: top;
  color: #323232;
  padding: 10px;

  box-shadow: inset -1px 1px 26px 10px #B2b2b2;
}
.sc-alt {
  background-color: #e57373;
}
.sc-left {
  margin-right: 6%;
}
.sc-right {
  margin-left: 6%;
}

.sub-container h2 {
  font-size: 20px;
  color: #323232;
  display: inline-block;
}

.project-header {
  margin: 10px 0;
}
.project-container {
  margin: 10px 0;
}
.project-container h3 {
  font-size: 16px;
}
.project-container p {
  font-size: 14px;
  text-align: left;
  padding: 10px;
}

/*
  ============================================
  Footer
  ============================================
*/

.footer-bar {
  bottom: 0;
  background-color: #e57373;
  color: #FFFFFF;
  text-align: left;
  height: 5vh;
}
.footer-bar p {
  padding-left: 50px;
  line-height: 5vh;
}