.projectOverlay {
  position: fixed;
  z-index: 25;
  width: 220px;
  left: -160px;
  top: 30%;
  
  font-family: $main-font-family;
  font-size: 18px;

  transition: left 0.3s ease-in-out;
  
  &:hover {
    left: -10px;
  }

  .item {
    width: 100%;

    a {
      text-align: left;
      position: relative;
      display: block;
      width: 100%;

      text-decoration: none;
      color: #fff;

      &:hover {
        cursor: pointer;
        color: $bg-title-end;
        
        .imgContainer#smallLogo, {
          background-image: url('../myImages/small-logo-red.png');
        }
      }
    }
  }

  .itemTitle {
    font-weight: 600;
    text-align: left;
    padding-left: 10px;
    margin: 12px;

    h3 {
      margin-left: 0px;
    }

    &.red {
      color: $bg-title-end;
    }
    
  }

  .itemTitle, 
  .imgContainer {
    display: inline-block;
  }

  .imgContainer {
    position: absolute;
    top: 10px;
    right: 5px;
    height: 30px;
    width: 30px;
    
    text-align: center;
    
    &#smallLogo {
      background-image: url('/myImages/small-logo-white.png');
      background-size: contain;
    }
  
    &.red,
    &:hover {
      color: $bg-title-end;
    }
    
    i {
      font-size: 30px;
    }
  }

  .linkContainer {
    padding: 10px;
  }

  .linkContainer {
    border-radius: 10px;
    box-shadow: 6px 0px 20px 5px rgba(0,0,0,0.30);
    background-color: $bg-black;
  }
}