.toast {
  position: absolute;
  width: 100%;
  
  height: 45px;
  bottom: -45px;
  left: 0;
    
  padding: $entry-padding;
  padding-top: 0.75em;
  border-radius: 5px;
  font-size: 1.2em;

  vertical-align: bottom;

  border-radius: 5px;
  border: none;
  
  &.success,
  &.error,
  &.warning {
    bottom: 0;
  
    transition: all 0.25s linear;

    &.exit {
      bottom: 45px;

      transition: all 0.25s linear;
    }
  }


  &.success {
    color: $text-submit-success;
    background-color: $bg-submit-success;
  }

  &.error {
    color: $text-submit-error;
    background-color: $bg-submit-error;
  }

  &.warning {
    color: $text-submit-warning;
    background-color: $bg-submit-warning;
  }
} 