include ./_mixins.pug

section.subscribe
  div.header-text 
    h2 Stay tuned, we're coming this year
  div#contact-form.contact-form
    form(class="form-group" action="" id="subscribeForm")
      input(id="subscribe-source" class="hidden" type="text" value="templates/deft" name="source" hidden)
      input(id="subscribe-email" class="entry" type="email" placeholder="Email address *" name="email" required)
      button(type="submit" class="btn clear") Subscribe
      div#subscribeToast.toast