doctype html
html
  head
    include includes/head.pug

  body
    include includes/navigation.pug
    
    div#content.content
      include includes/home.pug

      include includes/services.pug

      include includes/screenshots.pug

      include includes/tour.pug

      include includes/features.pug

      include includes/quotes.pug

      include includes/pricing.pug

      include includes/getstarted.pug

      include includes/footer.pug

    include includes/js.pug