doctype html
html
  head
    include includes/head.pug
    //- this file is added to allow easier routing back to projectmam
    //- from within project
    include ../../projectcss.pug

  body
    //- this file is added to allow easier routing back to projectmam
    //- from within project
    include ../../overlay.pug
    include includes/navigation.pug
    
    div#content.content
      include includes/home.pug

      include includes/services.pug

      include includes/screenshots.pug

      include includes/tour.pug

      include includes/features.pug

      include includes/quotes.pug

      include includes/pricing.pug

      include includes/getstarted.pug

      include includes/footer.pug

    include includes/js.pug