doctype html
html
  head
    include includes/head.pug
    //- this file is added to allow easier routing back to projectmam
    //- from within project
    include ../../projectcss.pug

  body
    //- this file is added to allow easier routing back to projectmam
    //- from within project
    include ../../overlay.pug
    include includes/title.pug

    div#rightSide.rightSide
      div#content.content
        include includes/gallery.pug
        
        include includes/subscribe.pug

        include includes/skills.pug

        include includes/services.pug

        include includes/contact.pug

        include includes/footer.pug

    include includes/gallerySlides.pug
    include includes/js.pug